

<div class="container">
  <div class="row">
    <h1 class="text-center text-danger">Anagrams for <%= "#{@word}" %></h1>
    <ul class="anagrams text-center">
    <% if !@anagrams.nil? %>
      <% @anagrams.each do |word| %>
      <li style="list-style:none;"><%= "#{word.text}" %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
