
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <h1 class="text-center text-danger">Anagrams for <%= "#{@word}" %></h1>
    <% @anagrams.each_with_index do |anagrams, index| %>
    <p class="text-center"><%= "#{index} : #{@anagrams[index]}" %></p>
    <% end %>
  </div>
</div>
